<div class="container">
<div class="homebanner">
   <h1 class="text-center">here is a list of favortes</h1>
   <p class="text-center"></P>
</div>
<body>
   <div class="all-favorites">
      <div class="favebg">
         <% user.forEach(function(restaurant){ %>
         <h2><%= restaurant.restaurantname %></a></h2>
         <img src="<%=restaurant.restaurantimage%>" alt="This restaurant has no image">
         <div class="container-fluid">
            <hr>
            <a href="#" class="btn btn-outline-dark" onclick="event.preventDefault()" data-target="#<%= restaurant.id %>" data-toggle="collapse">View Comments</a>
            <hr>
            <div class="collapse" id="<%= restaurant.id %>">
               <form action="/pages/entry" method="POST">
                  <div class="form-group">
                     <input hidden type="text" name="restaurantId" value="<%= restaurant.id %>">
                     <label>Comments:</label>
                     <textarea name="commentText" class="form-control"><%=restaurant.entry%></textarea>
                  </div>
                  <button class="btn btn-outline-light" type="submit">Save</button>
               </form>
            </div>
            <form class="rmv-favorite" action="/content/:id">
               <button class="btn btn-outline-light my-btn rest-delete-btn" type="delete">
                  Remove From Favorites
               </button>
            </form>
         </div>
      </div>
      <% }); %>
   </div>
<script type="text/javascript">
$(".rest-delete-btn").click(function(e) {
    e.preventDefault();
    let restId = this.parentElement.parentElement.getElementsByClassName("collapse")[0].id
    $.ajax({
        url: "/pages/delcontent/" + restId,
        method: "DELETE"
    }).then(function(data) {
        location.reload();
    });

});
</script>
</body>
