<div class="bubble text-center">Search Yelp for restaurants!
  <br> Then add it to your journal, and save it to your one of your pages!</div>
<div class="yelpsearchdiv">
  <form class="form" action="/pages/searchresults" method="post">
    <div class="row">
      <div class="form-group col-md-6 col-sm-offset-3">
        <input type="text" class="form-control golden input-lg text-center" name="searchbox" placeholder="Search for a restaurant">
      </div>
      <div class="form-group col-md-6 col-sm-offset-3">
        <input type="text" class="form-control golden input-lg text-center" name="location" placeholder="City of interest">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-sm-offset-3">
        <input type="submit" value="Search" class="yelp-button">
      </div>
    </div>

  </form>
</div>
<div class="row">
  <div class="content-main">
      <div class="row">
        <div id="grid-system">
          <div class="item-a"></div>
            <% if (businesses) { %>
            <% for (var item of businesses) { %>
              <div class="col-6 col-md-4">
                <h2 class="business-name"><%= item.name %></h2>
              <div class="item-b">
                  <img src="<%= item.image_url%>" class="rest-image-result">
              </div>
                <br>
              <div class="restaurant-content-result item-b">
                <%= item.location.address1 %> <br>
                <%= item.rating %> Stars
                <%= item.price %> Price <br>
                <%= item.display_phone %>
              </div>
                <div class="item-d">
                    <form method="POST" action="/pages/favorites">
                      <input hidden type="text" name="userId" value="<%= currentUser.id %>">
                      <input hidden type="text" name="name" value="<%= item.name %>">
                      <input hidden type="text" name="id" value="<%= item.id %>">
                      <input hidden type="text" name="image_url" value="<%= item.image_url %>">
                      <input hidden type="text" name="opinion" value="love">

                      <button class="btn btn-outline-light" id="results-button1" type="submit">Add to Favorites</button>
                    </form>


                    <form method="POST" action="/pages/next">
                      <input hidden type="text" name="userId" value="<%= currentUser.id %>">
                      <input hidden type="text" name="name" value="<%= item.name %>">
                      <input hidden type="text" name="id" value="<%= item.id %>">
                      <input hidden type="text" name="image_url" value="<%= item.image_url %>">
                      <input hidden type="text" name="opinion" value="next">

                      <button class="btn btn-outline-light" id="results-button2" type="submit">Visit Next</button>
                    </form>


                    <form method="POST" action="/pages/dislike">
                      <input hidden type="text" name="name" value="<%= item.name %>">
                      <input hidden type="text" name="userId" value="<%= currentUser.id %>">
                      <input hidden type="text" name="id" value="<%= item.id %>">
                      <input hidden type="text" name="image_url" value="<%= item.image_url %>">
                      <input hidden type="text" name="opinion" value="dislike">
                      <button class="btn btn-outline-light" id="results-button3" type="submit">Dislike</button>
                    </form>
              </div>
            </div>
            <% }; %>
            <% } %>
      </div>
    </div>
  </div>
</div>
